:root {
    --primary: #7C3AED;
    --primary-light: #9F67FF;

    --success: #10B981;
    --warning: #F59E0B;
    --danger: #EF4444;

    --background: #0B1120;
    --background-light: #111827;

    --glass: rgba(255, 255, 255, .03);
    --glass-border: rgba(255, 255, 255, .05);

    --text: #FFFFFF;
    --text-secondary: #94A3B8;

    --radius: 20px;
    --shadow: 0 8px 30px rgba(0, 0, 0, .25);
    --transition: .25s ease;
    --sidebar-width: 260px;
}

/* Light Theme Variables Override */
html.light-theme {
    --background: #F3F4F6;
    --background-light: #E5E7EB;
    
    --glass: rgba(0, 0, 0, 0.02);
    --glass-border: rgba(0, 0, 0, 0.06);
    
    --text: #0F172A;
    --text-secondary: #475569;
    
    --shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
}